.root{

  :global{
    align-self: center;
    .disabled {
      pointer-events: none;
      opacity: 0.3;
    }
    .selected{
     a {
       background-color: black;
       color: white;

     }
   }
    .previous, .next {
      a {
        border: none;
        background-color: #c5c3c3;
        border-radius: 30px;
      }
    }
   li {
     display: inline-flex;

     &:hover {
       a {
         color: white;
         background-color: black;

       }
     }
     a {
       display: inline-block;
       margin-left: 12px;
       color: black;
       text-align: center;
       line-height: 38px;
       width: 42px;
       height: 42px;
       border: 1px solid black;
       border-radius: 10px;
       margin-right: 5px;
       cursor: pointer;
     }
   }
 }
}